# Data Science Tools and Ecosystem

In this notebook, we will explore and summarize various Data Science Tools and Ecosystems, providing insights into their functionalities, applications, and how they integrate with the broader field of data science.

**Objectives:**

- List popular languages for Data Science.
- Overview of commonly used Data Science libraries.
- Introduce key Data Science development environments.
- Demonstrate basic Python operations for data analysis.
- Convert units and perform simple arithmetic calculations.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas (Python)
2. ggplot2 (R)
3. NumPy (Python)
4. TensorFlow (Python)
5. dplyr (R)

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

# This is a simple arithmetic expression to multiply then add integers

In [2]:
result = (3 * 4) + 5
print(result)

17

# This will convert 200 minutes to hours by diving by 60

In [3]:
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Author
Hermes Fern√°ndez